.information {font-family:"Segoe UI," Verdana, Arial;}
.table table {border-collapse:collapse; width: 100%
.table tr:nth-child(even) td {background-color:#dcdcdc;font-family:Segoe UI, Verdana, Arial;}
.table td,.table th {
	border-width:4px #000000
	border-style:solid;
	padding: 8px; 
	text-align: center;}
