.information {font-family:"Segoe UI," Verdana, Arial;}
.table tr:nth-child(even) {background-color:#dcdcdc;font-family:Segoe UI, Verdana, Arial; 
	border-width:4px; 
	border-style:solid;
	padding: 8px; 
	margin: 20px;
	text-align:center;}
